---
- name: Remove legacy rc.local to avoid systemd generator warning
  ansible.builtin.file:
    path: /etc/rc.d/rc.local
    state: absent

- name: Check if /etc/modprobe.d exists
  ansible.builtin.stat:
    path: /etc/modprobe.d
  register: modprobe_d_dir

- name: Blacklist piix4 smbus
  ansible.builtin.copy:
    dest: /etc/modprobe.d/blacklist-piix4.conf
    content: |
      blacklist i2c_piix4
    owner: root
    group: root
    mode: '0644'
  notify: Rebuild initramfs
  when: modprobe_d_dir.stat.exists and modprobe_d_dir.stat.isdir

    # - name: Ensure grubby is installed
    #   ansible.builtin.package:
    #     name: grubby
    #     state: present
    #
    # - name: Remove resume parameter from kernel (servers/VM)
    #   ansible.builtin.command: grubby --update-kernel=ALL --remove-args="resume"
    #   changed_when: false
